.board {
  width: 387px;
  height: 387px;
  position: relative;
}

.board-row {
  height: 20%;
}

.board-cell {
  display: inline-block;
  width: 20%;
  height: 100%;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.board-cell.dark {
  background-color: rgb(225, 218, 236);
}

.board-cell.light {
  background-color: rgb(200, 189, 221);
}

.board-cell div {
  border-radius: 50%;
}

.board-cell div.active {
  cursor: pointer;
}

.board-cell .reachable-cell {
  width: 40%;
  height: 40%;
  margin: 30%;
  background-color: rgba(255, 255, 255, 0.4);
}

.board-cell:hover .reachable-cell,
.board-cell.hover .reachable-cell {
  background-color: rgba(255, 255, 255, 0.6);
}

.board-cell .light-pawn,
.board-cell .dark-pawn {
  margin: 10%;
  height: 80%;
  width: 80%;
}

.board-cell .light-pawn {
  background-color: rgb(255, 255, 255);
}

.board-cell .dark-pawn {
  background-color: rgb(94, 80, 156);
}

.board-cell .selected-cell.light-pawn {
  background-color: rgba(255, 255, 255, 0.6);
}

.board-cell .selected-cell.dark-pawn {
  background-color: rgba(94, 80, 156, 0.6);
}

*:focus {
  outline: none;
}

.btn {
  width: 80px;
  height: 40px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.overlay p {
  text-align: center;
  margin-top: 150px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

.overlay button {
  display: block;
  margin: 0 auto;
}

.spin {
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg); /* IE 9 */
    transform: rotate(0deg); /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg); /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg); /* IE 9 */
    transform: rotate(360deg); /* Firefox 16+, IE 10+, Opera */
  }
}
